/*google fonts. used same font from love running */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap");

/*Wildcard selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general styles */
body {
    min-height: 100vh
}